h1 {
  text-align: center;
  color: brown;
  margin-top: 0px
}

#list {
    text-align: center;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    margin-bottom: 30px;
    margin-top: 30px;

}

#list li{
  display: inline;
  margin: 30px;
  margin-bottom: 10px;
  list-style: none;
}

#list a {
  text-align: center;
  color: black;
  text-decoration: none;
}
